body {
    margin: 0;
    background-color: #fdfdfd;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 72px;
}
.search {
    display: flex;
    flex-direction: row;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.menu button{
    font-family: inherit;
}
.navigation {
    display: flex;
    flex-direction: row;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding: 0 16px;
    box-sizing: border-box;
    max-width: 1280px;

}
.head-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 16px 0 16px;
    max-width: 1280px;

    margin: 0 auto 80px auto;
    box-sizing: border-box;

}
.head-info h1{
    font-family: Mona Sans, "Mona Sans Header Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 64px;
    margin: 0 0 0 0;
    letter-spacing: -2px;
    color: #1f2328;
}
.head-info p{
    font-family: Mona Sans, "Mona Sans Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #59636e;
    margin: 0 0 0 0;
    font-weight: 400;
}
.info-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 96px 0 96px;
    margin-top: 40px;
}
.info-btn button {
    margin-top: 24px;
    font-family: Mona Sans, "Mona Sans Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    font-size: 16px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%), #1b1f23;
    color: white;
    padding: 12px 24px;
    border-radius: 6px;
}
.prices {
    width: 100%;
    height: 1028px;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;

    box-sizing: border-box;

}
.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.block {
    height: 988px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: #f6f8fa;
    box-shadow: 0 0 0 1px #d1d9e0, 0 56px 112px 0 #25292e52;
}
.background {
    width: 33.33333333332%;
    height: 988px;
    display: flex;
    flex-direction: column;
    padding: 32px 16px 8px 16px;

}
.head {
    padding: 24px 16px 16px 16px;
    background-color: white;
    border-radius: 12px 12px 0 0;
}
.head p {
    font-family: Mona Sans, "Mona Sans Fallback", sans-serif;
    line-height: 1.25;
    padding-bottom: 24px;
    margin: 0 0 8px 0;
    color: #59636e;
    font-size: 14px;
}
.head h3{
    margin: 0 0 8px 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    font-family: Mona Sans, Mona Sans Header Fallback, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
.head button {
    padding: 12px 16px 12px 16px;
}
h3, p {
    font-family: Mona Sans, "Mona Sans Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.wrapper {
    background-color: #0e72e7;
    border-radius: 12px;
    padding: 0 8px 8px;
    height: 1028px;
}
.wrapper #recommended {
    color: white;
    margin: 9px 0 6px 0;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

#bg3 {
    height: 1028px;
    padding: 0 8px;
}
#bg3 .head p{
    padding: 0;
    margin: 0;
}
#startingAt div{
    padding: 4px 16px;
    border: 1px solid #d1d9e0;
    box-sizing: border-box;
    margin: 5px 35% 0 35%;
    border-radius: 12px;
}
.outer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.dlr {
    font-size:20px;
    position: relative;
    top: -0.5em
}
.num {
    color: #1f2328;
    font-size: 48px;
}
.usd {
    font-size: 24px;
    position: relative;
    top: 0.3em;
    color: #1f2328;
    font-weight: 600;
}
.per {
    position: relative;
    left: 0.4em;
    font-size: 16px;
}
.price p {
    padding: 0;
    margin: 0;
}
.button button{
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}
.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

}
.buttons button {
    border-radius: 8px;
    width: 48%;
    font-size: 16px;
    font-weight: bold;
}
.white {
    color: #1f2328;
    background-color: white;
    border: 1px solid #d1d9e0;
}
.black {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%), #1b1f23;
    color: white;
}
.info {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    padding: 8px 16px 8px 16px;
    background-color: #f6f8fa;
}
.info ul {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    list-style: none;
    padding: 0;
    margin: 0;
}
.info ul p{
    font-weight: 500;
    margin: 0;
    font-size: 15px;
    color: #59636e;
}
.info ul li {
    display: flex;
    flex-direction: row;
    padding: 8px 0;
}
.info ul li::before {
    position: relative;
    top:5px;
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 8px 0 0;
    background-image: url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='currentColor'>\
<path d='M6.22 3.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042L9.94 8 6.22 4.28a.75.75 0 0 1 0-1.06Z'/>\
</svg>");
    color: #59636e;
}
.p-with-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 16px 0;
}
.p-with-img img {
    height: 12px;
    width: 13px;
    padding-right: 10px;
}
.p-with-img p {
    margin: 0;
    font-size: 15px;
}
.small {
    font-size: 12px;
    font-weight: normal;
}
.addonstext {
    text-transform: uppercase;
    font-size: 14px;
    margin: 24px 0 0 0;
    color: #0969da;
    font-weight: 600;
    font-family: "Mona Sans", "Mona Sans Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.addons {
    display: flex;
    flex-direction: column;
}
.cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 32px ;
}
.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 ;
    margin-bottom: 36px;
    box-shadow: 0 0 0 1px rgba(53, 72, 91, .14), 0 3px 2px rgba(0, 0, 0, .04), 0 7px 5px rgba(0, 0, 0, .02), 0 13px 10px rgba(0, 0, 0, .02), 0 22px 17px rgba(0, 0, 0, .02) ;
    box-sizing: border-box;
    border-radius: 8px;
}
.card-inside {
    display: flex;
    flex-direction: column;
    padding: 32px;
}
.card-inside img {
    margin-bottom: 16px;
}
.card-inside div {
    display: flex;
    justify-content: space-between;
}
.card-inside div #new {
    padding-top: 10px;
}
.card-inside h3 {
    font-size: 20px;
    margin: 0 0 16px 0;
    color: #1f2328;
}
.card-inside p {
    margin: 0;
    color: #59636e;
}
#new {
    height: 25px;
    width: 40px;
}
.card-inside img{
    height: 50px;
    width: 50px;
}
.card-inside .learn-more {
    margin-top: 16px;
    color: #1f2328;
    font-weight: bold;
}
.compare {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 48px 0 64px 0;
}
#compare {
    font-family: "Mona Sans", "Mona Sans Header Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 24px;
    font-weight: 600;
    color: #0969da;
}
.compare img {
    height: 28px;
    width: 20px;
}