.authorization {
    padding: 0 52px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #152127;
    min-height: 810px;
    height: 93vh;
    min-width: 450px;
    width: 100%;
    max-width: 550px;
}
.authorization1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #152127;
}
.authorization form {
    width: 100%;
}
.authorization span {
    font-family:   Segoe UI, Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: white;
    font-size: large;
}
.a1 {
    width: 100%;
    margin-bottom: 10px;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button button {
    width: 100%;
    border-radius: 30px;
    margin-top: 20px;
    background-color: #152127;
    font-size: 15px;
    font-family: Helvetica,Arial,sans-serif;
    border: none;
    color: white;
}
#btn1 {
    background-color: #0064e0;
    font-weight: bold;
    padding: 14px 16px;
}
#btn2 {
    padding: 14px 16px;
    margin-top: 15px;
    margin-bottom: 50px;
    color: #f1f4f7;
}
#btn3 {
    border: 1px solid #3d4f5c;
    padding: 14px 14px;
    color: #f1f4f7;
}
#btn4 {
    border: 1px solid #4ba9fe;
    color: #4ba9fe;
    padding: 14px 14px;
    margin-top: 10px;
}
body {
    min-height: 100vh;
    display: flex;
    background-color: #0c1014;
    flex-direction: column;
    position: relative;
    margin: 0;
}
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.form {
    width: 100%;
}
.footer {
    max-width: 1200px;
    height: 83px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0 52px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    box-sizing: border-box;
}
.footer #ul1 {
    margin-top: 24px;
}
.footer #ul2 {
    margin-top: 12px;
    margin-bottom: 12px;
}
.footer ul {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    row-gap: 10px;
    column-gap: 14px;
    justify-content: center;
}
.footer ul li {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #a8a8a8;
}
.footer ul li a {
    color: #a8a8a8;
    text-decoration: none;
}
#facebookImg {
    margin-right: 10px;
}
.image #inst {
    margin-top: auto;
    max-width: 100%;
    height: auto;
    max-height: 592px;
    min-height: 290px;
}
#inst {
    min-width: 500px;
}
.input {
    margin: 10px 0 10px 0;
}
.input input::placeholder {
    font-weight: 500;
    color: #96a6b4;
}
.input input {
    background-color: #152127;
    border: 1px solid #3d4f5c;
    border-radius: 17px;
    font-size: 15px;
    padding: 14px 16px;
    width: 93.5%;
    height: 30px;
}
.info {
    padding: 0 50px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
.main {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #0c1014;
    height: auto;
    align-self: end;
    flex: 1;
}
#meta {
    margin-top: 25px;
    height: 12px;
}
#line {
    background-color: #3d4f5c;
    min-height: 690px;
    min-width: 2px;

}
#line2 {
    background-color: #3d4f5c;
    min-height: 1px;
    min-width: 100%;
    margin-bottom: 20px;
}

.logo img{
    display: inline-block;
    margin-top: 40px;
    margin-left: 40px;
    width: 74px;
    height: auto;
    max-width: 100%;
}
.logo {
    flex-shrink: 0;
    margin-right: 20px;
    margin-bottom: 10px;
    align-self: flex-start;
}
.wth {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 300px;
}
#white {
    font-size: clamp(20px, 2.8vw, 50px);
    max-width: 100%;
    font-family: serif;
    color: white;
    text-align: center;
    margin-top: 0;

}
#rnb {
    background: linear-gradient(to right, #ff5c00, #ff0069, #d300c5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (max-width: 1170px){
    .info{
        display: none;
    }
    .main{
        flex-direction: column;
        align-items: center;
        height: 730px;
    }
    .logo{
        margin-right: 20px;
        margin-bottom: 30px;
        align-self: center;
        width: 60px;
    }
    .logo img{
        margin: 30px 0 0 0;
    }
    .wth{
        align-items: center;
        width: 1000px;

    }
    .button{
        width:100%
    }
    .authorization {
        width:100%;
        min-height: 590px;
        max-width: 650px;
        padding-left:40px;
        padding-right: 40px;
        box-sizing: border-box;
        padding-top: 10px;
    }
    #line {
        background-color: #3d4f5c;
        min-height: 1px;
        height: 1px;
        min-width: 100%;

    }
    .form {
        box-sizing: border-box;
        width: 100%;
    }
    .input input {
        box-sizing: border-box;
        width: 100%;
        padding: 28px 32px;
    }
}

